@model CardModel

<div class="row">

<h1>Deck of Cards</h1>
<p>Card Counter: @Model.remaining</p>
    @{   
        foreach (Card c in Model.cards) //model.cards because of the array
        {        
        <div class="col-2">
        <p>@c.value of @c.suit</p> 
        <img src="@c.image"/>           
        </div>        
        }              
}
</div>
<br />
<a asp-action="Shuffle" class="btn btn-primary">Reshuffle Early </a>
<a asp-action="DeckOfCards" class="btn btn-primary">Draw 5 More </a>